.one{
    margin: 0 40px;
    text-align: justify;
 
}
.humbaga{
    position: absolute;
    display: none;
    flex-direction: column;
    right: 4rem;
    top: 1rem;
    width: 20px;
    height: 17px;
    justify-content: space-between;
}
.humbaga .bar{
    background-color: white;
    height: 1px;
    width: 100%;
    margin: .1rem;
}
.transparent{
    position: fixed;
    left: 100%;
    min-height: 100svh;
    display: block;
    width: 100svw;
    transition: .4s;
    background-color: rgb(30, 31, 31);
    filter: opacity(40%);   
    display: block;
    margin-top: -5px;
    border-left: solid 5px wheat;
    border-top: solid wheat;

}
.addi{
    position: fixed;
    left: 100%;
    min-height: 100svh;
    display: block;
    width: 100svw;
    transition: .4s;
    background-color: rgb(30, 31, 31);
    display: block;
    margin-top: -5px;
    /* border-left: solid 5px wheat; */
    border-top: solid wheat;
}
.addi a{
    text-decoration: none;
    text-align: left;
    list-style: none;
    color: wheat;
    margin-left: 10px;
    margin-top: 10px;
    text-transform: capitalize;
    
}
@media(max-width: 900px){
    .nav{
        display: none;
       
    }
    .wrapper{
        justify-content: flex-start;
    }
    
    .humbaga{
        display: flex;
    }
    
    .addi li{
        list-style: none;
        padding: 6px;
       
        
    }
    .addi li:hover{
        background-color: rgb(101, 171, 233);
    } 
    .addi a{
        display: block;

    }
    .addi.active{
        left: 50%;
    } 
    #two{
        font-size: 0.65rem;
    } 
    #one{
        font-size: 0.75rem;
    } 
    table{
        width: 140px;
    }
    .transparent.ctive{
        left: 0%;
    }
    
}
table #one a{
    text-decoration: none;
}