.title{
    font-size: 3rem;
}
.titlecon{
    width: 100%;
    height: 60svh;
    /* background-color: azure; */
    /* align-items: start; */
    /* justify-content: start; */
    background-image: url(bac.jpg); 
    background-size: 100%;
    background-repeat: no-repeat;
    color: wheat;
    
     
}
.heard{
    list-style: none;
    text-decoration: underline;
    font-size: 1.5rem;
}
.packages{
    width: 33%;
    height: 100px;
    background-color: aqua;
    

}
@media (max-width: 1501px){
    .title{
        font-size: 2rem;
    }
    .titlecon{
        height: 110svh;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100% 40%;
        background-repeat: no-repeat;
        color: wheat;
    }
    .one{
        font-size: 0.8rem;
        line-height: 1rem;
        margin-left: -7px;
    }
   .one .heard{
    font-size: 1.1rem;
   }

}
@media(max-width: 900px){
    .title{
        font-size: 1.1rem;
    }
    .one{
        font-size: 0.5rem;
        line-height: 0.65rem;
        margin-left: -20px;
       
    }
   .one .heard{
    font-size: 0.8rem;
   }
    
    .titlecon{
        height: 70svh;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        color: wheat;
    }

}
@media (max-width: 700px){
    .title{
        font-size: 0.65rem;
    }
    .titlecon{
        height: 60svh;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100% 40%;
        background-repeat: no-repeat;
        color: wheat;
    }
    .one{
        font-size: 0.5rem;
        line-height: 0.65rem;
        margin-left: -20px;
    }
   .one .heard{
    font-size: 0.8rem;
   }

}



