.title{
    font-size: 2.5rem;
}
.titlecon{
    width: 100%;
    /* height: 60svh; */
    /* background-color: azure; */
    /* align-items: start; */
    /* justify-content: start; */
    background-image: url(bac.jpg); 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    color: wheat;
    
     
}
.heard{
    list-style: none;
    text-decoration: underline;
    font-size: 1rem;
    margin-left: 5px;
    
}
.packages{
    width: 33%;
    height: 100px;
    background-color: aqua;
}
/* the start of content formating (computer application packages */
.three{
    height: 3%;
    width: 100%;
    background-color: white;
    color: blue;
    font-size: 2rem;
    font-family: broadway;
}
/* first flexbox for computer applications */
/* the below class four div is a container to hold container of the flexbox items */
.four{
    height: 480px;
    width: 100%;
    /* background-color: azure; */
}
/* class five is the flexbox container */
.five{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    /* background-color: beige; */
    display: flex;
    gap: 20px;
}
/* .five div{} is for the flexbox items*/
.five div{
    background-color: white;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* below is increasing size of one flexbox item */
#item1{
    flex-grow: 1;
}
/* end of flexbox one styles */

/* 2nd flexbox for computer applications */
/* the below class six div is a container to hold container of the flexbox items */
.six{
    height: 480px;
    width: 100%;
    background-color: rgb(252, 252, 252);
}
/* class seven is the flexbox container held in six */
.seven{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: beige;
    display: flex;
    gap: 20px;
}
/* .seven div{} is for the flexbox items*/
.seven div{
    background-color: white;
    height: 100%;
    width: 25%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* below is increasing size of one flexbox item */
#item6{
    flex-grow: 1;
}
/* end of flexbox two styles */
/* class eight is the flexbox container */
.eight{
    height: 480px;
    width: 100%;
    /* background-color: rgb(126, 30, 30); */
}
/* class nine is the flexbox container held in eight */
.nine{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: rgb(180, 207, 171);
    display: flex;
    gap: 20px;
}
/* .nine div{} is for the flexbox items in class nine*/
.nine div{
    background-color: white;
    height: 100%;
    width: 33.3%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* end of flexbox three styles */
/* class ten is the flexbox container for footer*/
.ten{
    height: 360px;
    width: 100%;
    background-color: rgb(14, 13, 13);
}
/* class eleven is the flexbox container held in ten */
.eleven{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: rgb(14, 13, 13);
    display: flex;
    gap: 20px;
}
/* .nine div{} is for the flexbox items in class nine*/
.eleven div{
    background-color: rgb(14, 13, 13);
    height: 25%;
    width: 33.3%;
    border-radius: 5px;
    color: wheat;
    /* box-shadow: 1px 1px 3px black; */
}
/* end of footer flexbox  styles */
.item{
    box-shadow: 1px 1px 6px black;
}
.item:hover{
    box-shadow: 1px 1px 6px rgb(59, 59, 156);
}
/* classes carry their names in screen size styles */
/* pictures */
.pic31{
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
    border-radius: 20px;    
}
.b{
    background-color: azure;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: blue;
}
.b1{
    color: green;
    font-size: 1.3rem;
    margin-left: 15px;
}
.pic4{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.c1{
    color: rgb(61, 57, 15);
    font-size: 1.6rem;
    margin-left: 15px;
    font-weight: bold;
}
.c2{
    line-height: 1.6rem;
    font-size: 1.2rem;
}
#item2{
    background: linear-gradient(to right, wheat,rgb(145, 136, 136));
}
.d1{
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 1.2rem;
}
.d2{
    color: blue;
    list-style: none;
}
.pic5{
    width: 100%;
    height: auto;
}
.pic6{
    width: 100%;
    height: auto;
}
.e1{
    margin-top: 20px;
    text-align: center;
    color: green;
    font-size: 1.2rem;
    font-weight: bolder;
    }
.e2{
    list-style: none;
    line-height: 3rem;
    font-size: 2rem;

}    
.pic7{
    width: 98%;
    margin-left: 1%;
    height: 15%;
}
.f1{
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}
.pic8{
    width: 96%;
    margin-left: 2%;
    border-radius: 5px;
}
.pic9{
    width: 96%;
    margin-left: 2%;
    border-radius: 5px;
}
.g1{
    font-size: 2rem;
    margin-left: 20px;
    color: rgb(99, 122, 143);
    margin-top: 20px;
}
.g2{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1.3rem;
}
.h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 20%;
    text-decoration: underline;
}
.h2{
    font-size: 1.1rem;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.7rem;
}
#item7{
    background: linear-gradient(to right, wheat, white);
}
.i1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i3{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.j1{
    height: 100%;
    width: 68%;
    margin-left: 10%;
}
@media (max-width: 1499px){
    .title{
        font-size: 2rem;
    }
    .titlecon{
        height: 335px;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100% 94%;
        background-repeat: no-repeat;
        color: wheat;
    }
    .one{
        font-size: 0.8rem;
        line-height: 1rem;
        margin-left: -7px;
    }
   .one .heard{
    font-size: 1.1rem;
   }
    
 
   
   }
@media(max-width: 1000px){
    .title{
        font-size: 1.7rem;
    }
    .one{
        font-size: 0.8rem;
        line-height: 0.95rem;
        margin-left: -20px;
        }
   .one .heard{
    font-size: 0.8rem;
   }
    .titlecon{
        height: 310px;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100% 94%;
        background-repeat: no-repeat;
        background-attachment: scroll;
        color: wheat;
    }
    .four{
        height: 964px;
        width: 100%;
        /* background-color: azure; */
    }
    /* class five is the flexbox container */
    .five{
        width: 90%;
        height: 100%;
        margin-left: 5%;
        /* background-color: beige; */
        display: flex;
        gap: 10px;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    /* .five div{} is for the flexbox items*/
    .five div{
        background-color: white;
        height: 33.3%;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 3px black;
    }
    /* below is increasing size of one flexbox item */
.six{
    height: 964px;
    width: 100%;
    background-color: rgb(252, 252, 252);
}
/* class seven is the flexbox container held in six */
.seven{
    width: 90%;
    height: 98.5%;
    margin-left: 5%;
    background-color: beige;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
}
/* .seven div{} is for the flexbox items*/
.seven div{
    background-color: white;
    height: 33.3%;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
.eight{
    height: 964px;
    width: 100%;
    /* background-color: rgb(126, 30, 30); */
}
/* class nine is the flexbox container held in eight */
.nine{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: rgb(180, 207, 171);
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
}
/* .nine div{} is for the flexbox items in class nine*/
.nine div{
    background-color: white;
    height: 33.3%;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* end of flexbox three styles */
/* start of contents */
 #item1{
    display: flex;
    align-items: center;
    
}
.pic31{
    width: 32%;
    height: 40%;
    
        
}
.b{
    background-color: azure;
    line-height: 1.1rem;
    font-size: 0.8rem;
    color: blue;
}

.b1{
    color: green;
    font-size: 0.8rem;
    margin-left: 15px;
}
#item2{
    display: flex;
    align-items: center;
}
.pic4{
    width: 40%;
    height: 75%;
    border-radius: 10px;
}

.c1{
    color: rgb(61, 57, 15);
    font-size: 1.4rem;
    margin-left: 15px;
    font-weight: bold;
}
.c2{
    line-height: 1.2rem;
    font-size: 1rem;
}
#item2{
    background: linear-gradient(to right, wheat,rgb(145, 136, 136));
}
#item3{
    display: flex;
    align-items: center;
    
}
.d1{
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 1rem;
}
.d2{
    color: blue;
    list-style: none;
}
.pic5{
    width: 33%;
    height: 30%;
}
.pic6{
    width: 31%;
    height: 30%;
}
#item4{
    display: flex;
    align-items: center;
}
.e1{
    margin-top: 20px;
    text-align: center;
    color: green;
    font-size: 1.2rem;
    font-weight: bolder;
    }
.e2{
    list-style: none;
    line-height: 2rem;
    font-size: 1rem;
    

}    
.pic7{
    width: 50%;
    margin-left: 1%;
    height: 29%;
}
#item5{
    display: flex;
    align-items: center;
}
.f1{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
    color: blue;
}
.pic8{
    width: 38%;
    height: 37%;
    margin-left: 2%;
    border-radius: 5px;
}
.pic9{
    width: 33%;
    height: 37%;
    margin-right: 2%;
    border-radius: 5px;
}

.g1{
    font-size: 1.5rem;
    margin-left: 20px;
    color: rgb(99, 122, 143);
    margin-top: 20px;
}
.g2{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1rem;
}
.h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.h2{
    font-size: 1rem;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.4rem;
}
#item7{
    background: linear-gradient(to right, wheat, white);
}
.i1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i3{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.j1{
    height: 100%;
    width: 20%;
    margin-left: 10%;
}
    
} 
@media only screen and (max-width: 600px){
    .content{
        /* width: 99svw; */
        /* margin-right: 0.5svh; */
        /* margin-left: 0.9svh; */
        height: 312svh;
        /* background-color: rgb(208, 214, 216); */
    }
    .title{
        font-size: 0.65rem;
    }
    .titlecon{
        height: 190px;
        /* align-items: start; */
        /* justify-content: start; */
        background-image: url(bac.jpg); 
        background-size: 100% 94%;
        background-repeat: no-repeat;
        color: wheat;
    }
    .one{
        font-size: 0.5rem;
        line-height: 0.65rem;
        margin-left: -20px;
    }
   .one .heard{
    font-size: 0.8rem;
   }
   .four{
    height: 1400px;
    width: 100%;
    /* background-color: azure; */
}
/* class five is the flexbox container */
.five{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    /* background-color: beige; */
    display: flex;
    gap: 10px;
}
/* .five div{} is for the flexbox items*/
.five div{
    background-color: white;
    height: 33.3%;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* below is increasing size of one flexbox item */
.six{
    height: 1400px;
    width: 100%;
    background-color: rgb(252, 252, 252);
}
/* class seven is the flexbox container held in six */
.seven{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: beige;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 10px;
}
/* .seven div{} is for the flexbox items*/
.seven div{
    background-color: white;
    height: 33.3%;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
.eight{
    height: 1400px;
    width: 100%;
    /* background-color: rgb(126, 30, 30); */
}
/* class nine is the flexbox container held in eight */
.nine{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: rgb(180, 207, 171);
    display: flex;
    gap: 10px;
}
/* .nine div{} is for the flexbox items in class nine*/
.nine div{
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 3px black; */
}
/* end of flexbox three styles */
#item1{
    display: block;
}
.pic31{
    width: 96%;
    height: auto;
    margin-left: 2%;
    margin-top: 5%;
    border-radius: 20px;    
}
.b{
    background-color: azure;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: blue;
}
.b1{
    color: green;
    font-size: 1.3rem;
    margin-left: 15px;
}
#item2{
    display: block;
}
.pic4{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.c1{
    color: rgb(61, 57, 15);
    font-size: 1.3rem;
    margin-left: 15px;
    font-weight: bold;
}
.c2{
    line-height: 1.2rem;
    font-size: 1rem;
}
#item2{
    background: linear-gradient(to right, wheat,rgb(145, 136, 136));
}
#item3{
    display: block;
}
.d1{
    margin-top: 10px;
    text-align: center;
    color: blue;
    font-size: 1.2rem;
}
.d2{
    color: blue;
    list-style: none;
}
.pic5{
    width: 100%;
    height: 30%;
}
.pic6{
    width: 100%;
    height: auto;
}
#item4{
    display: block;
}
.e1{
    margin-top: 20px;
    text-align: center;
    color: green;
    font-size: 1.2rem;
    font-weight: bolder;
    }
.e2{
    list-style: none;
    line-height: 3rem;
    font-size: 1.2rem;

}    
.pic7{
    width: 98%;
    margin-left: 1%;
    height: 19%;
}
#item5{
    display: block;
}
.f1{
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
    color: blue;
}
.pic8{
    width: 96%;
    height: 37%;
    margin-left: 2%;
    border-radius: 5px;
}
.pic9{
    width: 96%;
    height: 37%;
    margin-left: 2%;
    border-radius: 5px;
}
#item6{
    display: block;
}
.g1{
    font-size: 1.5rem;
    margin-left: 20px;
    color: rgb(99, 122, 143);
    margin-top: 20px;
}
.g2{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    line-height: 1rem;
}
#item7{
    display: block;
}
.h1{
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}
.h2{
    font-size: 1rem;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.4rem;
}
#item7{
    background: linear-gradient(to right, wheat, white);
}
#item8{
    display: block;
}
.i1{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i2{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}
.i3{
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.j1{
    height: 100%;
    width: 68%;
    margin-left: 10%;
}

/* class ten is the flexbox container for the footer*/
.ten{
    height: 360px;
    width: 100%;
    background-color: rgb(99, 93, 93);
}
/* class eleven is the flexbox container held in ten */

.eleven{
    width: 90%;
    height: 100%;
    margin-left: 5%;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/* .nine div{} is for the flexbox items in class nine*/
.eleven div{
    background-color: gray;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    color: wheat;
    margin-left: 10px;
    /* box-shadow: 1px 1px 3px black; */
}
.three{
    font-size: 1.1rem;
    height: 2.5%;
    
}

}
